*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    padding: 0%;  
    list-style-type: none;
}

html,body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main{
    height: 100vh;
}
/* slider effects */
.dark{
    background-color: grey;
    color: white;
    height: max-content;
}
.light{
    background-color: white;
    color: black;
    height: max-content;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color:black;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider {
    border-radius: 34px;
}
  
.slider:before {
    border-radius: 50%;
}

  /* Header Section */
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 3px solid black;
}
.header-container h1{
    margin:0
}
/* Body and form section */
.form-container{
    border: 1px solid black;
    width: 50%;  
}
.card-header{
   margin: 50px;
    
}
.main-body{
    display: flex;
    justify-content: flex-start;
    flex-wrap: center;  
}

.intro-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 50px;
    width: 50%;

}
.intro-left img{
    border-radius: 100px;
    padding: 15px 15px 15px 15px;
}
.form{
   display: flex;
   flex-direction: column;
   margin: 50px;
}
.card-footer{
    margin: 50px;
}
button{
    width:50px;
}
/* Contact-me Section */
.contact-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
     
}
.contact-me ul{
    display: flex;
    flex-direction: row;
    align-items: center;
     
}
.contact-me ul li{
    padding: 10px;
}
a{
    text-decoration: none;
    color: inherit;

}